/* styles.module.scss */
.PaginationButton {
  :global {
    .ant-pagination-item.ant-pagination-item-active {
      background-color: #0079c4;
      color: #fff;
    }
    .ant-pagination-item.ant-pagination-item-active a {
      color: #fff;
    }
    .ant-pagination-item {
      font-size: 16px;
      font-weight: 600;
      color: #444458;
    }
  }
}
